# Importing Basic Modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Read Csv

In [42]:
df = pd.read_csv("iris.csv",index_col=0)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

# Check Null value in dataset

In [3]:
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Get overall description of dataset

In [4]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

# Check the categorial data

In [21]:
col_name = ['Species']
for i in range(len(col_name)):
    print(f"\033[1m{df[col_name[i]].value_counts()}\n")

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64

In [28]:
print(f'''\033[1m Top 5 index \n
{df.head()}\n
------------------------------------------------------------------------------------------''')
print(f'''\033[1m \nBottom 5 index \n
{df.tail()}\n
------------------------------------------------------------------------------------------''')

 Top 5 index

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

------------------------------------------------------------------------------------------

Bottom 5 index

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

------------------------------------------------------------------------------------------

# Label Encoding for column "Species"

In [43]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
df['Species'] = label.fit_transform(df['Species'])

print(f'''\033[1m Top 5 index After encoding\n
{df.head()}\n
------------------------------------------------------------------------------------------''')
print(f'''\033[1m \nBottom 5 index After encoding\n
{df.tail()}\n
------------------------------------------------------------------------------------------''')

 Top 5 index After encoding

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

------------------------------------------------------------------------------------------

Bottom 5 index After encoding

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
146            6.7           3.0            5.2           2.3        2
147            6.3           2.5            5.0           1.9        2
148            6.5           3.0            5.2           2.0        2
149            6.2           3.4            5.4           2.3        2
150            5.9           3.0            5.1           1.8        2

------------------------------------------------------------------------------------------

# clearing confusion after encoding

In [40]:
col_name = ['Species']
for i in range(len(col_name)):
    print(f"\033[1m{df[col_name[i]].value_counts()}\n")

print('''
Here Label Encoding result:

2 == Iris-virginica
1 == Iris-versicolor
0 == Iris-setosa
''')

print('''So that I used to print head n bottom before encoding.
If you dont do encoding to this given dataset then your model i.e "Logistic Regression give output in form of string,
but for good practicing you should encode it.'''

)

2    50
1    50
0    50
Name: Species, dtype: int64


Here Label Encoding result:

2 == Iris-virginica
1 == Iris-versicolor
0 == Iris-setosa

So that I used to print head n bottom before encoding.
If you dont do encoding to this given dataset then your model i.e "Logistic Regression give output in form of string,
but for good practicing you should encode it.

#  Create Independent Variable as x means features

In [9]:
x=df.iloc[:,:-1]
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Id
1              5.1           3.5            1.4           0.2
2              4.9           3.0            1.4           0.2
3              4.7           3.2            1.3           0.2
4              4.6           3.1            1.5           0.2
5              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
146            6.7           3.0            5.2           2.3
147            6.3           2.5            5.0           1.9
148            6.5           3.0            5.2           2.0
149            6.2           3.4            5.4           2.3
150            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

#  Create dependent Variable as y means target

In [10]:
y = df.iloc[:,-1]
y

Id
1      0
2      0
3      0
4      0
5      0
      ..
146    2
147    2
148    2
149    2
150    2
Name: Species, Length: 150, dtype: int32

# Importing ML Model

In [11]:
from sklearn.linear_model import LogisticRegression

In [12]:
 model = LogisticRegression()

In [13]:
model.fit(x,y)

LogisticRegression()

In [14]:
y_predict = model.predict(x)

In [15]:
print(f"\033[1mOutput : {model.predict([[2,3,1,4]])[0]}")
print('''\n 
here output code as\n
2 == Iris-virginica
1 == Iris-versicolor
0 == Iris-setosa
''')

Output : 0


here output code as

2 == Iris-virginica
1 == Iris-versicolor
0 == Iris-setosa

# Model Evaluation

In [16]:
from sklearn.metrics import accuracy_score,classification_report

In [17]:
accuracy_score(y,y_predict)

0.9733333333333334

In [18]:
print(classification_report(y,y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       0.98      0.94      0.96        50
           2       0.94      0.98      0.96        50

    accuracy                           0.97       150
   macro avg       0.97      0.97      0.97       150
weighted avg       0.97      0.97      0.97       150

In [19]:
pd.crosstab(y,y_predict)

col_0     0   1   2
Species
0        50   0   0
1         0  47   3
2         0   1  49